* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(241, 241, 241);
}

.titulo {
    font-size: 2em;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

.line {
    border-top: 1px solid rgb(255, 255, 255);
}

.subtitulo {
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 4%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.highlightT {
    color: red;
}

.highlightS {
    font-weight: 700;
}

.titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 00;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.sobre {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em; 
    color: rgb(255, 0, 0); 
    margin-top: 10%; 
    margin-left: 5%;
}

.sobre2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em; 
    color: rgb(255, 255, 255); 
    margin-top: 5%; 
    margin-left: 5%;
    margin-bottom: 10%;
}

.desc {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.desc2 {
    font-size: 1.0em;
    font-weight: 200;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.card {
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  } 

.slg {
    display: flex;
    font-size: 5.0em;
    font-weight: 300;
    margin-left: 5%;
    margin-bottom: 5%;
    font-style: italic;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}




